/* Un bon début */
html{
 background:#ddd;
 text-shadow:1px 1px 1px white;
 font-family:monospace;
 min-height:100%;
 position:relative;
 overflow:hidden;
 padding:0;
 margin:0;
 font-size:1em;
}

*{
-moz-box-sizing:border-box;
box-sizing:border-box;
}

h1 {
font-size:2em;
}

section {
 background:#ddd;
 width:100%;
 position:absolute;
 top:0;
 bottom:0;
 left:-100%;
 right:0;
 min-height:100%;
 padding:10% 20%;
 margin:0;
 border:10px solid #aaa;
 transition:all .5s;
}

#accueil{
	left:0;
}

section ul {
 padding-left:0;
 list-style-type:none;
}
nav ul {
text-align:center;
}
nav a,form a{
 display:block;
 color:#000;
 text-decoration:none;
 padding:1em;
 background-color:rgba(255,255,255,0);
 border-radius:2em;
 letter-spacing: normal;
 transition: all .5s ease-out;

}
nav a:hover,form a:hover{
	letter-spacing: .8em;
	background-color:#fff;
}


/* menu créations */

section label,section input ,section select{
	display:block;
	margin:auto;
}



/* partie jeu */

/* Menu de jeu */
#jeu h2 {
	display:none;
}
#jeu nav{
	position:absolute;
	z-index:3;
	left:0;
	/*right:100%;*/
	top:1em;
	/*margin-right:-2em;*/
	/*text-align:right;	*/
	
}
#jeu nav ul {text-align:left; }


#listeJoueurs {
	margin-top:2em;
}



#listeJoueurs li span{
	display:inline-block;
	width:2em;
	height:2em;
	background:white;
	vertical-align: middle;
	border-radius:50%;
	margin-left:.3em;
	text-align:center;
	background:red;
}

#listeJoueurs li.retire{
text-decoration: line-through;
}

/* specificity war = pa bo */
/*#jeu nav li span.attente{background:red;}*/
#listeJoueurs li span.pret{background:green;}

#listeJoueurs li.retire span{
background:red;
}


.carte{
	position:absolute;
	z-index:2;
	min-height:50%;
	max-height:50%;
	/*left:2em;
	right:2em;*/
	/*min-width:100%;*/
	/*border:1px solid #000;*/
}
#newJeu {top:10px;right:10px;}
#monJeu {bottom:10px;}

.carte ul{
	position:relative;
	width:200px;
	height:200px;
	margin:0 auto;
	border:1px solid #000;
	border-radius:2em;
	box-shadow:.2em .2em .2em #000;
}
.carte ul li a,.carte ul li div{
	position:absolute;
	display:block;
	/*background:rgba(255,0,0,.1);*/
	border-radius: 50% 50%;
}

#monJeu{
	background-color: transparent;
	transition: background-color 1s;
}

#monJeu.gagnant {
	background-color: green;
	transition: background-color .2s;
}
#monJeu.perdant{
	background-color: red;
	transition: background-color .2s;
}


#pseudo {
	position:absolute;
	z-index:3;
	left:0;
	bottom:0;
	font-weight: bold;
	background-color: rgba(255,255,255,.8);
	border-radius:0 1em 0 0;
	padding:.3em .5em .1em .1em;
}


#messages {
 background:rgba(0,0,0,.5);
 width:100%;
 position:absolute;
 z-index:1000;
 top:0;
 bottom:0;
 left:0;
 right:0;
 min-height:100%;
 transition:all .5s;
 margin-top:300%;
}


#messages.front{
	margin-top:0;

}


#messages .box{
	width:20%;
	min-width:20em;
	margin:20% auto 0 auto;
	border:1px solid red;
	background:#eee;
}



/* Media Queries*/

@media screen and (max-width:50em) {
	section{
	 padding:10%;
	}

}
@media screen and (max-width:40em) {
	section{
	 padding:5%;
	}
	li a:hover{
	 letter-spacing: .5em;
	}

}
@media screen and (max-width:22em) {
	section{
		/*background-color: red;*/
		padding:10px;
	}
	li a:hover{
	 letter-spacing: .2em;
	}
}
