
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

/* Un bon début */
html{
	background:#ddd;
	text-shadow:1px 1px 1px white;
	/*font-family:"FFF tusj";*/
    font-family: 'Cabin Sketch', cursive;
	min-height:100%;
	position:relative;
	overflow:hidden;
	padding:0;
	margin:0;
	font-size:1em;
}

/*resetting*/
*{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

h1 {
	font-size:2em;
}

section {
	background:#ddd;
	width:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:-100%;
	right:0;
	min-height:100%;
	border:10px solid #aaa;
	display:flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	transition:all .5s;
}

#accueil{
	left:0;
}

section ul {
	list-style-type:none;
}
nav ul {
	text-align:center;
}
nav a,form a{
	display:block;
	color:#000;
	text-decoration:none;
	text-align: center;
	padding:1em;
	margin:0.3em auto;
	min-width: 16em;
	max-width: 16em;
	background-color:rgba(255,255,255,0.4);
	border-radius:2em;
	transition: all .5s ease-out;
}


nav a:hover,form a:hover,
nav a:focus,form a:focus{
	background-color:#fff;
}


/* menu créations */

section label,section input ,section select{
	display:block;
	margin:0.2em  auto;
	text-align:center;
	
}
section input, section select {
	border-radius: 2em;
	border:2px solid #888;
	min-width: 16em;
	padding:1em;
	background-color: white;
}


/* partie jeu */
#jeu{
	display: flex;
	flex-direction:row;
	flex:0 0 auto;
	justify-content:flex-start;
	align-items:flex-start;
	
}
/* Menu de jeu */
#jeu h2 {
	display:none;
}
#jeu nav{
	min-width: 8em;
	align-self: top;
	z-index:3;
	
}

#jeu nav ul {
	text-align:left;
	
}

#jeu nav a{
	min-width: auto;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px
}

#listeJoueurs {
	margin:0.2em 0 0 0.2em;
}



#listeJoueurs li span{
	display:inline-block;
	width:1.5em;
	height:1.5em;
	background:white;
	vertical-align: middle;
	border-radius:50%;
	margin-left:.3em;
	text-align:center;
	background:red;
}

#listeJoueurs li.retire{
	text-decoration: line-through;
}

/* specificity war = pa bo */
/*#jeu nav li span.attente{background:red;}*/
#listeJoueurs li span.pret{background:green;}

#listeJoueurs li.retire span{
	background:red;
}

article{
	
	display:flex;
	flex-direction:column;
	justify-content:center;
	height:100%;
	width:100%;
}

.carte{
	display:flex;
	min-height:50%;
	max-height:50%;
	vertical-align: center;
	/*left:2em;
	right:2em;*/
	/*min-width:100%;*/
	/*border:1px solid #000;*/
}
#newJeu {}
#monJeu {}

.carte ul{
	position:relative;
	background: white;
	min-width:200px;
	width:50%;
	height:90%;
	margin:auto;
	border:3px solid #000;
	border-radius:2em;
	box-shadow:.2em .2em .2em #000;
}
.carte ul li a,.carte ul li div{
	position:absolute;
	display:block;
	/*background:rgba(255,0,0,.1);*/
	border-radius: 50% 50%;
}

#monJeu ul {
	background: white;
	transition: background-color 1s;
}

#monJeu.gagnant ul{
	background-color: green;
	transition: background-color .2s;
}
#monJeu.perdant ul{
	background-color: red;
	transition: background-color .2s;
}


#pseudo {
	position:absolute;
	z-index:3;
	left:0;
	bottom:0;
	font-weight: bold;
	background-color: rgba(255,255,255,.8);
	border-radius:0 1em 0 0;
	padding:.3em .5em .1em .1em;
}


#messages {
	background:rgba(0,0,0,.5);
	width:100%;
	position:absolute;
	z-index:1000;
	top:0;
	bottom:0;
	left:0;
	right:0;
	min-height:100%;
	transition:all .5s;
	margin-top:300%;
}


#messages.front{
	margin-top:0;

}


#messages .box{
	width:20%;
	min-width:20em;
	margin:20% auto 0 auto;
	border:4px solid red;
	border-radius: 1em;
	padding:1em;
	background:#eee;
	text-align: center;
}



/* Media Queries*/

@media screen and (max-width:50em) {
	section{
		
	}

}
@media screen and (max-width:40em) {
	section{
		
	}


}
@media screen and (max-width:22em) {
	section{
		/*background-color: red;*/
		
	}

}
